{{ define "main" }}
<script>
</script>

{{ "<!--contactHeader.html-->" | safeHTML }}
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ .Title }}</h2>
          <span id="eventHeader"></span>
        </div>
      </div>
    </div>
  </section>
  

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto contact-form">
          <span id="eventBody"></span>
          <span id="eventLocInfo"></span>
          <span id="eventMap"></span>
        </div>
      </div>
    </div>
  </section>
{{ end }}
