{{ with .Site.Data.sponsors }}
  {{ if .enable }}
    <section class="service" id="membership">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>
                {{ .title }}
              </h2>
              <p>{{ .subheading }}</p>
            </div>
          </div>
          <div class="col-lg-12">
          {{ $sponsors := .sponsors }}
          <div class="card-deck">
          {{ range $sponsors }}
            <div class="card">
              <div class="card-body">
                  <p class="d-flex align-items-center"><img src="/images/sponsors/{{ .logo }}" alt="The logo for {{ .name}}" /></p>
                  <h4><a href="{{ .uri }}">{{ .name }}</a></h4>
                  <p>{{ .description | markdownify }}</p>
              </div>
            </div>
          {{ end }}
           </div>
          </div>
           <p style="text-align: center">Interested in becoming a sponsor? <a href="mailto:info@makemonmouth.co.uk?subject=Sponsorship">Email us</a> to find out more!</p>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
