<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-subscribe-title">
          <h2>{{ .Site.Params.footerTitle }}</h2>
        </div>
      </div>
      <div class="col-lg-8 mx-auto">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="footer-description">
            <p>Registered in England & Wales. <br />Company Number: 
                <a href="https://find-and-update.company-information.service.gov.uk/company/13652094" alt="Link to companies house information">13652094</a>
            </p>
          <p>
              {{ replace .Site.Params.copyright1   "{year}" now.Year | safeHTML }}
              </br>
              {{ replace .Site.Params.copyright2   "{year}" now.Year | safeHTML }}
          </p>
          <ul class="footer-description-social">
            <li>
              <a href="{{ .Site.Params.social.facebook }}"><i class="ti-facebook"></i></a>
            </li>
            <li>
              <a href="{{ .Site.Params.social.twitter }}"><i class="ti-twitter-alt"></i></a>
            </li>
            <li>
              <a href="{{ .Site.Params.social.github }}"><i class="ti-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Sitemap</h4>
          <div class="footer-widget-list">
            <ul>
              {{ $sitemap := .Site.Menus.sitemap }}
                {{ range $sitemap }}
                  <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
              <li><a href="https://bitfolk.com/" alt="Hosting kindly sponsored by Bitfolk">Hosting kindly sponsored by Bitfolk</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Address</h4>
          {{ $address := .Site.Params.address }}
          <div class="footer-widget-list">
            <ul>
                <!-- <li><a href="tel:{{ $address.phone }}"><i class="ti-mobile"></i>{{ $address.phone }}</a></li> -->
              <li><a href="mailto:{{ $address.email }}"><i class="ti-email"></i>{{ $address.email }}</a></li>
              <li>
                  <a href="https://what3words.com/croutons.sonic.broads" target="_blank" alt="A link to What Three Words showing where we are located">{{ $address.address }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{{ $style := resources.Get "scss/non-critical.scss" | resources.ToCSS | minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
<!-- {{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
