<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>


  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Themify -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "themify/themify.css" | absURL }}">

  {{ "<!-- Critical CSS -->" | safeHTML }}
  {{ $stylex := resources.Get "scss/critical.scss" | resources.ToCSS | minify }}
  <link href="{{ $stylex.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/MakeMonmouth_Logo_Alt-02_20230920.svg" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/MakeMonmouth_Logo_Alt-02_20230920.svg" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
	{{ end }}
  <!-- Grafana Frontend Observability -->
  <!-- Paste the following snippet in the head element of your page or pages. -->

<script>

(function () {
  var webSdkScript = document.createElement("script");

  webSdkScript.src =
    "https://unpkg.com/@grafana/faro-web-sdk@^1.0.0/dist/bundle/faro-web-sdk.iife.js";

  webSdkScript.onload = () => {
    window.GrafanaFaroWebSdk.initializeFaro({
      url: "https://faro-collector-prod-gb-south-0.grafana.net/collect/5e1b291b7eb3ac70b59c7312e12bda9e",
      app: {
        name: "website",
        version: "1.0.0",
        environment: "production",
      },

    });


    // Load instrumentations at the onLoad event of the web-SDK and after the above configuration.
    // This is important because we need to ensure that the Web-SDK has been loaded and initialized before we add further instruments!
    var webTracingScript = document.createElement("script");

    webTracingScript.src =
      "https://unpkg.com/@grafana/faro-web-tracing@^1.0.0/dist/bundle/faro-web-tracing.iife.js";

    // Initialize, configure (if necessary) and add the the new instrumentation to the already loaded and configured Web-SDK.
    webTracingScript.onload = () => {
      window.GrafanaFaroWebSdk.faro.instrumentations.add(
        new window.GrafanaFaroWebTracing.TracingInstrumentation()
      );
    };

    // Append the Web Tracing script script tag to the HTML page
    document.head.appendChild(webTracingScript);
  };

  // Append the Web-SDK script script tag to the HTML page
  document.head.appendChild(webSdkScript);
})();

// there's a global property
const faro = window.GrafanaFaroWebSdk;
</script>

<!-- End Grafana Frontend Observability -->
<!-- Facebook -->
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '404769362132290');
fbq('track', 'PageView');

// Get the details of the next event from the API

async function getEvents() {
    const event_list_response = await fetch("https://events.makemonmouth.co.uk/api/v2/public/events");
    const events = await event_list_response.json();
    const event_detail_response = await fetch("https://events.makemonmouth.co.uk/api/v2/public/event/" + events[0]['shortName']);
    const event_detail = await event_detail_response.json();
    let eventHeader = "<h4 class=\"event-text\">Our next event is "+
        events[0]['title']['en'] + " on " + events[0]['formattedBeginDate']['en'] + 
        " starting at " + events[0]['formattedBeginTime']['en'] + ".</h4>";
    let eventLocInfo = "<p>This event is at " + event_detail['location'] + "</p>";
    let eventMap = "<img src=\"" + event_detail['mapUrl'] + "&key=AIzaSyCaF92FO7gCN-KXxLifsT8BWOkHD7IyPNY\" title=\"A map of " + event_detail['location'] + "\" />"; 
    let eventBody = "<p>" + event_detail['description']['en'] + "</p><p><a href=\"https://events.makemonmouth.co.uk/event/" + events[0]['shortName'] + "/\" target=\"_blank\" title=\"Book a ticket for " + events[0]['title']['en'] + "\">Book your ticket now!</a>";
    document.getElementById('eventHeader').innerHTML = eventHeader;
    document.getElementById('eventBody').innerHTML = eventBody;
    document.getElementById('eventLocInfo').innerHTML = eventLocInfo;
    document.getElementById('eventMap').innerHTML = eventMap;
}
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=404769362132290&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<body onLoad="getEvents();">
