{{ define "main" }}

{{ "<!--contactHeader.html-->" | safeHTML }}
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ .Title }}</h2>
          <h4>We'd love to hear your ideas and other feedback, please let us know your thoughts through the form below!</h4>
          <p>
            Don't like forms? Send us an
            <a href="mailto:{{ .Site.Params.email }}">email</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto contact-form">
            <script type="text/javascript" src="//mailshot.makemonmouth.co.uk/form/generate.js?id=2"></script>
        </div>
      </div>
    </div>
  </section>
{{ end }}
