{{ define "main" }}

{{ "<!--contactHeader.html-->" | safeHTML }}
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>{{ .Title }}</h2>
          <p>
            Don't like forms? Send us an
            <a href="mailto:{{ .Site.Params.email }}">email</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto contact-form">
            <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "eu1",
                portalId: "139551855",
                formId: "87aa19a3-41bb-48eb-a3c6-49ce09d5e7e1"
              });
            </script>
        </div>
      </div>
    </div>
  </section>
{{ end }}
